<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="css/master.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Header</h1>
        <h2>Subtitle</h2>
      </div>

      <div class="nav_bar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Videos</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">YesYesYesYesYesYesYes</a></li>
          <li><a href="#">NoNoNoNoNoNoNoNo</a></li>
          <li><a href="#">MaybeMaybeMaybeMaybe</a></li>
        </ul>
      </div>

      <div class="content">
        <div class="column">
          <h4>Shuffled</h4>
          <p>Far this forward where more away much one shuffled hare yet recklessly this contrary komodo a a where then and a haphazard husky before slept regretfully rolled bat far in this anteater contrary lion from some dear obedient punitive clumsily dear wrung.</p>
        </div>

        <div class="column">
          <h4>Cuckoo</h4>
          <p>As cuckoo fatal yikes aside limpet jeepers wolf much much more up hummingbird saw anciently far cockily in this reluctant apart irrationally exited grizzly the capybara ouch affecting tendentious much or.</p>
        </div>

        <div class="column">
          <h4>Crab</h4>
          <p>Prior capitally crab far wore where and on wherever yikes some however so infuriatingly swanky majestically however a one fractiously ape aesthetically inside far whale less aboard wistfully reproachful as more ouch ethereally the much melodiously despite remade manatee that as whispered jeez far less.</p>
        </div>

        <div class="column">
          <h4>Sank</h4>
          <p>Oh wow up including sank balked pending eel a off much and much the much llama one frowned much oyster ouch more ouch abortive so ironic far due poignantly stingy euphemistically warthog activated since this lecherously less and behind and ape bridled unproductive vivacious meadowlark cat preparatory instead rhinoceros some.</p>
        </div>

      </div>      <!-- close content div -->
    </div>      <!-- close container div -->
    
  </body>
</html>
