*{
  outline: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

#topnav{
  font-family: "Palatino Linotype", "Georgia", serif;
  width: 960px;
  padding: 20px;
  margin: auto;
  text-align: center;
}

#topnav ul{
  list-style: none;
  display: inline-block;
}

#topnav ul li{
  display: inline-block;
}

#topnav ul li a{
  display: inline-block;
  background-color: green;
  color: white;
  width: 100px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-variant: small-caps;
}

#topnav ul li a:hover{
  background-color: white;
  color: green;
}
